
<h1>BURGERS!!!!!</h1>
<div class="row text-center my-3">
  <div class="col-12">
    {{> addBurger}}
  </div>
</div>
<div class="row text-center">
  <div class="col-12 col-md-6 mb-3">
    {{> burgersToEat}}
  </div>
  <div class="col-12 col-md-6 mb-3">
    {{> burgersEaten}}
  </div>
</div>